In [1]:
import pandas as pd
!pip install nltk

Requirement already satisfied: nltk in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (3.8.1)
Requirement already satisfied: tqdm in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: joblib in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: click in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from nltk) (2022.10.31)
Requirement already satisfied: colorama in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from click->nltk) (0.4.6)

WARNING: You are using pip version 21.0.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\omen\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [15]:
df = pd.read_csv("spam.csv")

In [16]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [17]:
df.drop(df.columns[[2, 3, 4]], axis=1, inplace=True)

In [18]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
df =df.rename(columns={"v1": "label"})

In [20]:
df =df.rename(columns={"v2": "text"})

In [21]:
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [80]:
df1 = pd.read_csv("completeSpamAssassin.csv")

In [88]:
df2 = df1.rename(columns= {'Label':'label','Body':'text'})

In [90]:
df2.dropna()

      Unnamed: 0                                               text  label
0              0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1              1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2              2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3              3  ##############################################...      1
4              4  I thought you might like these:\n1) Slim Down ...      1
...          ...                                                ...    ...
6041        6041                                              empty      0
6042        6042                    ___           ___           ...      0
6043        6043  IN THIS ISSUE:01. Readers write\n02. Extension...      0
6044        6044                                              empty      0
6045        6045                                              empty      0

[6045 rows x 3 columns]

In [91]:
df2 = df.append(df2, ignore_index=True)

In [97]:
df2.drop(df2.columns[[2]], axis=1, inplace=True)

In [99]:
df2

      label                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
11622     0                                              empty
11623     0                    ___           ___           ...
11624     0  IN THIS ISSUE:01. Readers write\n02. Extension...
11625     0                                              empty
11626     0                                              empty

[11627 rows x 2 columns]

In [100]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder

In [101]:
t = df.label

In [102]:
dfle = df
le.fit_transform(dfle.label,t)

array([0, 0, 1, ..., 1, 1, 1])

In [104]:
dfle.label = le.fit_transform(dfle.label,t)
dfle # 1 for spam and 0 for ham

      label                                               text
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5576      1  ((Coinbase)) Amount\nreceived 2.221 Bitcoin\nB...
5577      1  Hello. We detected\nfraudulent activity on\nyo...
5578      1  Our 11th scholarship\nApplication is currently...
5579      1  Federal Credit Union\nALERT: Your Credit\nCard...
5580      1  Thank you for your\nrecent Amazon purchase.\nY...

[5581 rows x 2 columns]

In [105]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\OMEN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [106]:
from nltk.stem.porter import PorterStemmer

arr = ['be', 'further', 'does', 's', 'some', 'because', 'aren', "shan't", 'most', 'i', 'had', 'about', 'shan', 'on', 'nor', "won't", "isn't", 'they', "you've", 'why', 're', 'haven', 'while', "weren't", "mustn't", 'or', 'but', 'couldn', 'didn', 'you', 'too', 'myself', 't', 'own', 'were', 'than', 'that', 'by', 'he', 'isn', 'where', "should've", "you'd", 'hers', 'same', "wasn't", 'during', "you'll", "couldn't", 'do', "didn't", 'as', 'which', 'after', 'against', 'doing', "aren't", 'can', 'of', 'have', 'hadn', 'both', 'having', 'any', 'more', 'before', 'ain', 'mustn', 'was', "wouldn't", 'mightn', 'other', 'wasn', 'through', 'if', 'no', 'o', 'hasn', 'has', 'from', 'below', 'into', 'this', 'off', 'very', "needn't", 'won', 'to', 'd', 'the', 'been', 'don', 'then', 'our', 'their', 'under', 'yours', 'whom', 'at', 'between', 'them', 'these', 'an', 'out', "mightn't", 'me', 'itself', 'who', 'down', 'will', 'themselves', 'doesn', 'for', 'weren', 'what', "that'll", 'there', 'herself', 'over', 'wouldn', "hasn't", "you're", 'with', "haven't", 'her', "she's", 'each', 'ma', 'few', 've', 'once', "shouldn't", 'his', 'your', 'until', 'and', 'above', 'him', 'yourselves', 'm', 'here', 'not', 'shouldn', 'needn', 'ourselves', 'she', 'its', 'being', 'my', 'a', 'those', 'theirs', 'am', 'so', 'should', "it's", 'ours', 'up', 'in', 'are', 'again', 'it', 'such', 'yourself', 'how', 'all', 'just', "hadn't", 'y', 'is', "don't", 'we', 'when', 'now', 'only', 'himself', "doesn't", 'll', 'did']

In [107]:
port_stem = PorterStemmer()

In [108]:
port_stem.stem("HI chaddD %a7$#")

'hi chaddd %a7$#'

In [109]:
def stemming(content):
    con=re.sub('[^a-zA-Z]', ' ', content)
    con=con.lower()
    con=con.split()
    con=[port_stem.stem(word) for word in con if not word in arr]
    con=' '.join(con)
    return con

In [110]:
stemming('HI chadd ^sidigashagAHSDJKHD %a7$#')

'hi chadd sidigashagahsdjkhd'

In [111]:
df['text']= df['text'].apply(stemming)

In [112]:
x=df['text']

In [113]:
y=df['label']

In [114]:
y.shape

(5581,)

In [115]:
from sklearn.model_selection import train_test_split

In [116]:
x_train , x_test , y_train, y_test = train_test_split(x, y, test_size=0.20)

In [117]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [118]:
vect=TfidfVectorizer()

In [119]:
x_train=vect.fit_transform(x_train)
x_test=vect.transform(x_test)

In [120]:
x_test.shape

(1117, 5602)

In [121]:
from sklearn.tree import DecisionTreeClassifier

In [122]:
model=DecisionTreeClassifier()

In [123]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [124]:
prediction=model.predict(x_test)

In [125]:
model.score(x_test, y_test)

0.9677708146821844

In [126]:
import pickle

In [127]:
pickle.dump(vect, open('vector.pkl', 'wb'))

In [128]:
pickle.dump(model, open('model.pkl', 'wb'))

In [129]:
vector_form=pickle.load(open('vector.pkl', 'rb'))

In [130]:
load_model=pickle.load(open('model.pkl', 'rb'))

In [131]:
def fraud_message(text):
    news=stemming(text)
    input_data=[text]
    vector_form1=vector_form.transform(input_data)
    val = load_model.predict(vector_form1)
    if val==[0]:
        return 'ham'
    else:
        return 'spam'