In [71]:
import pandas as pd
!pip install nltk

Requirement already satisfied: nltk in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: joblib in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from nltk) (2022.10.31)
Requirement already satisfied: colorama in c:\users\omen\appdata\local\programs\python\python39\lib\site-packages (from click->nltk) (0.4.6)

WARNING: You are using pip version 21.0.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\omen\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [72]:
df = pd.read_csv("spam.csv")

In [73]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [74]:
df.drop(df.columns[[2, 3, 4]], axis=1, inplace=True)

In [75]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [76]:
df =df.rename(columns={"v1": "label"})

In [77]:
df =df.rename(columns={"v2": "text"})

In [78]:
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [79]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder

In [80]:
t = df.label

In [81]:
dfle = df
le.fit_transform(dfle.label,t)

array([0, 0, 1, ..., 1, 1, 1])

In [82]:
dfle.label = le.fit_transform(dfle.label,t)
dfle # 1 for spam and 0 for ham

      label                                               text
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5576      1  ((Coinbase)) Amount\nreceived 2.221 Bitcoin\nB...
5577      1  Hello. We detected\nfraudulent activity on\nyo...
5578      1  Our 11th scholarship\nApplication is currently...
5579      1  Federal Credit Union\nALERT: Your Credit\nCard...
5580      1  Thank you for your\nrecent Amazon purchase.\nY...

[5581 rows x 2 columns]

In [83]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\OMEN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [84]:
from nltk.stem.porter import PorterStemmer

arr = ['be', 'further', 'does', 's', 'some', 'because', 'aren', "shan't", 'most', 'i', 'had', 'about', 'shan', 'on', 'nor', "won't", "isn't", 'they', "you've", 'why', 're', 'haven', 'while', "weren't", "mustn't", 'or', 'but', 'couldn', 'didn', 'you', 'too', 'myself', 't', 'own', 'were', 'than', 'that', 'by', 'he', 'isn', 'where', "should've", "you'd", 'hers', 'same', "wasn't", 'during', "you'll", "couldn't", 'do', "didn't", 'as', 'which', 'after', 'against', 'doing', "aren't", 'can', 'of', 'have', 'hadn', 'both', 'having', 'any', 'more', 'before', 'ain', 'mustn', 'was', "wouldn't", 'mightn', 'other', 'wasn', 'through', 'if', 'no', 'o', 'hasn', 'has', 'from', 'below', 'into', 'this', 'off', 'very', "needn't", 'won', 'to', 'd', 'the', 'been', 'don', 'then', 'our', 'their', 'under', 'yours', 'whom', 'at', 'between', 'them', 'these', 'an', 'out', "mightn't", 'me', 'itself', 'who', 'down', 'will', 'themselves', 'doesn', 'for', 'weren', 'what', "that'll", 'there', 'herself', 'over', 'wouldn', "hasn't", "you're", 'with', "haven't", 'her', "she's", 'each', 'ma', 'few', 've', 'once', "shouldn't", 'his', 'your', 'until', 'and', 'above', 'him', 'yourselves', 'm', 'here', 'not', 'shouldn', 'needn', 'ourselves', 'she', 'its', 'being', 'my', 'a', 'those', 'theirs', 'am', 'so', 'should', "it's", 'ours', 'up', 'in', 'are', 'again', 'it', 'such', 'yourself', 'how', 'all', 'just', "hadn't", 'y', 'is', "don't", 'we', 'when', 'now', 'only', 'himself', "doesn't", 'll', 'did']

In [85]:
port_stem = PorterStemmer()

In [86]:
port_stem.stem("HI chaddD %a7$#")

'hi chaddd %a7$#'

In [87]:
def stemming(content):
    con=re.sub('[^a-zA-Z]', ' ', content)
    con=con.lower()
    con=con.split()
    con=[port_stem.stem(word) for word in con if not word in arr]
    con=' '.join(con)
    return con

In [89]:
stemming('HI chadd ^sidigashagAHSDJKHD %a7$#')

'hi chadd sidigashagahsdjkhd'

In [90]:
df['text']= df['text'].apply(stemming)

In [91]:
x=df['text']

In [92]:
y=df['label']

In [93]:
y.shape

(5581,)

In [94]:
from sklearn.model_selection import train_test_split

In [95]:
x_train , x_test , y_train, y_test = train_test_split(x, y, test_size=0.20)

In [96]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [97]:
vect=TfidfVectorizer()

In [98]:
x_train=vect.fit_transform(x_train)
x_test=vect.transform(x_test)

In [99]:
x_test.shape

(1117, 5600)

In [100]:
from sklearn.tree import DecisionTreeClassifier

In [101]:
model=DecisionTreeClassifier()

In [102]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [103]:
prediction=model.predict(x_test)

In [104]:
model.score(x_test, y_test)

0.9704565801253358

In [105]:
import pickle

In [106]:
pickle.dump(vect, open('vector.pkl', 'wb'))

In [107]:
pickle.dump(model, open('model.pkl', 'wb'))

In [108]:
vector_form=pickle.load(open('vector.pkl', 'rb'))

In [109]:
load_model=pickle.load(open('model.pkl', 'rb'))

In [110]:
def fraud_message(text):
    news=stemming(text)
    input_data=[text]
    vector_form1=vector_form.transform(input_data)
    val = load_model.predict(vector_form1)
    if val==[0]:
        return 'ham'
    else:
        return 'spam'